body {
    text-align: center;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(102, 0, 235));
    font-family: 'Trebuchet MS';
    color: rgb(156, 81, 255);
  }
  
  img {
    border-radius: 75px;
    margin-top: 20px;
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }
  
  h2 {
    font-size: 24px;
  }
  
  a {
    background-color: rgb(90, 0, 150);
    font-size: 20px;
    color: rgb(206, 211, 255);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    display: block;
    text-decoration: none;
    max-width: 350px;
    margin-left: 750px;
    border-radius: 25px;
    padding: 20px;
    border: 3px solid rgb(150, 69, 255);
    margin-bottom: 25px;
    
  }